<!-- Mini Modal: Repasar Audios -->
<div class="modal fade" id="modalRepasarAudios" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="bi bi-music-note-beamed me-2"></i>Audios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="mb-3">¿Deseas repasar los audios antes de las frases?</p>
                <div id="lista-audios-repaso" style="display: none;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn-saltar-audios">No</button>
                <button type="button" class="btn btn-primary" id="btn-repasar-audios">Sí</button>
                <button type="button" class="btn btn-success" id="btn-continuar-frases"
                    style="display: none;">Continuar</button>
            </div>
        </div>
    </div>
</div>